<a href="https://colab.research.google.com/github/arjunmylagondajobs-creator/MyCollab/blob/Development/MyLearnings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def square(n):
  return n*n

l = []

for i in range(10):
  k = int(input("Enter the num: "))
  l.append(k)

list(map(square,l))

Enter the num: 3
Enter the num: 4
Enter the num: 2
Enter the num: 1
Enter the num: 5
Enter the num: 6
Enter the num: 4
Enter the num: 5
Enter the num: 6
Enter the num: 7

[9, 16, 4, 1, 25, 36, 16, 25, 36, 49]

In [ ]:
numbers = [1,2,3,4,5,6,7]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
l = ['2','3']

list(map(int,l)) # Type casting with map

[2, 3]

In [ ]:
s = 'arjun is a kpitian'
k = list(s.split(" "))
list(map(lambda x:x.capitalize(),k))

# Approch to get in the string
s = 'arjun is kpitian'
r = ' '.join(word.capitalize() for word in s.split())
print(r)

Arjun Is Kpitian

In [ ]:
def get_name(mydict):
  return f'Name of the person is {mydict["name"]} he/she is {mydict['age']} old'

mydict = [
    {'name':'Arjun','age':24},
    {'name':'krish','age':31}
]

list((map(get_name,mydict)))

['Name of the person is Arjun he/she is 24 old',
 'Name of the person is krish he/she is 31 old']

**Filter Function**

In [ ]:
def even(n):   # basic Example to understand Filter function
  if n%2 == 0:
    return True

l = [1,2,3,4,5,6]

list(filter(even,l)) # filter will take func as argument

[2, 4, 6]

In [ ]:
def prime(n):
  if n<2:
    return False
  else:
    for i in range(2,n):
      if n%i == 0:
        return False
  return True

l  = [1,2,3,4,5,6,7,8,9]

list(filter(prime,l))

[2, 3, 5, 7]

In [ ]:
# Filter funtion with lambda
l  = [1,2,3,4,5,6,7,8,9]
list(filter(lambda x: x>5 and x%2 == 0,l))

[6, 8]

In [ ]:
#Using Filter funtion on list of dictionaries

mylstdicts = [
    {'name':'Arjun','Age':24},
    {'name':'Krish','Age':31},
    {'name':'Aditya','Age':23},
]

list(filter(lambda x:x['Age']>25,mylstdicts))

[{'name': 'Krish', 'Age': 31}]

In [ ]:
def max_consecutive_difference(lst):
    max_diff = 0
    for i in range(len(lst) - 1):
        current_diff = abs(lst[i] - lst[i+1])
        if current_diff > max_diff:
            max_diff = current_diff
    return max_diff

print(max_consecutive_difference([1,2,3,4,5]))
print(max_consecutive_difference([1,2,3,6,89]))

1
83

In [ ]:
def merge_lists_to_dictionary(keys, values):
    return dict(zip(keys,values))
merge_lists_to_dictionary(['a','b','c'],[1,2,3])

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#CSV Library

import csv

with open('example.csv',mode = 'w',newline = '') as file:
  writer = csv.writer(file)
  writer.writerow(['Name','Age','Country'])
  writer.writerow(['Arjun',24,'India'])

with open('example.csv',mode = 'r') as file:
  reader = csv.reader(file)
  for row in reader:
    print(row)

['Name', 'Age', 'Country']
['Arjun', '24', 'India']

In [ ]:
##Date time

from datetime import datetime,timedelta

now = datetime.now()
print(now)

yesterday = now-timedelta(days = 1)
print(yesterday)

2025-12-03 07:25:20.828919
2025-12-02 07:25:20.828919

In [ ]:
## Regular Expression

import re

pattern = r'\d+'

text = 'There are some 123 apples'

match = re.search(pattern,text)
print(match.group())

11

##File Operations

In [ ]:
## Reading a whole file

with open('example.txt','r') as file:
  content = file.read()
  print(content)

Hi This arjun trhying to  learn the file handling
so lets look up how it goes

In [ ]:
# Read a file line by line
with open('example.txt','r') as file:
  for line in file:
    print(line)
    print(line.strip()) # this .strip() will remove the extra line

This is new line This is new line
This is new line This is new line

In [ ]:
with open('example.txt','w') as file:
  writer = file.write("This is new line ")
  writer = file.write("This is new line")

with open('example.txt','r') as file:
  content = file.read()
  print(content)

This is new line This is new line

In [ ]:
## Writing to a file

with open('example.txt','w') as file:
   file.write("Hello World\n")
   file.write("Welcome to Wold of endless oppurtunities\n")

In [ ]:
## Appending to the file

with open('example.txt','a') as file:
  file.write("The limits are just in you mind\n")
  file.write("Wake up to Reality you can do anything\
  and every thing what you wanted to do\n")

with open("example.txt",'r') as file:
  content = file.read()
  print(content)

Hello World
Welcome to Wold of endless oppurtunities
The limits are just in you mind
The limits are just in you mind
Wake up to Reality you can do anything  and every thing what you wanted to do

The limits are just in you mind
Wake up to Reality you can do anything  and every thing what you wanted to do

In [ ]:
## Writing multiple lines

lines = ['First line\n','second line\n','third line\n']

with open('example.txt','a') as file:
  file.writelines(lines)

##Binary Files

In [ ]:
data = b'\x00\x01\x02\x03'

with open('example.bin','wb') as file:
  file.write(data)

In [ ]:
with open('example.bin','rb') as file:
  content = file.read()
  print(content)

b'\x00\x01\x02\x03'

In [ ]:
## Read a text file and count number of lines, words, sand charters

def count_file_content(filename):
  with open(filename,'r') as file:
    lines = file.readlines()
    line_count = len(lines)
    word_count = sum(len(line.split()) for line in lines)
    char_count = sum(len(line) for line in lines)
    return line_count,word_count,char_count

count_file_content('example.txt')

(11, 67, 340)

In [ ]:
#writing and reading the file
with open("example1.txt",'w+') as file:
  file.write("Hello World\n")
  file.write("Welcome to the world of endless oppurtunities\n")
  file.write("Be proactive and always stay open to the universe for the new experiences\n")
  file.write("Life is very beautiful")
  file.seek(0)
  content  = file.read()
  print(content)

Hello World
Welcome to the world of endless oppurtunities
Be proactive and always stay open to the universe for the new experiences
Life is very beautiful

## Exception Handling

ZeroDivisionError: Dividing by zero
FileNotFoundError: File Not found
ValueError: Invalid Value
TypeError: Invalid type

In [ ]:
## Exception try, except
try:
  a=b
except NameError as ex:
  print(ex)

name 'b' is not defined

In [ ]:
try:
  result = 1/0
  print(result)
except ZeroDivisionError as ex:
  print(ex)
  print("Please enter the denominator greater than 0")

division by zero
Please enter the denominator greater than 0

In [ ]:
# testing