In [2]:
def square(n):
  return n*n

l = []

for i in range(10):
  k = int(input("Enter the num: "))
  l.append(k)

list(map(square,l))

Enter the num: 3
Enter the num: 4
Enter the num: 2
Enter the num: 1
Enter the num: 5
Enter the num: 6
Enter the num: 4
Enter the num: 5
Enter the num: 6
Enter the num: 7

[9, 16, 4, 1, 25, 36, 16, 25, 36, 49]

In [5]:
numbers = [1,2,3,4,5,6,7]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [8]:
l = ['2','3']

list(map(int,l)) # Type casting with map

[2, 3]

In [37]:
s = 'arjun is a kpitian'
k = list(s.split(" "))
list(map(lambda x:x.capitalize(),k))

# Approch to get in the string
s = 'arjun is kpitian'
r = ' '.join(word.capitalize() for word in s.split())
print(r)

Arjun Is Kpitian

In [33]:
def get_name(mydict):
  return f'Name of the person is {mydict["name"]} he/she is {mydict['age']} old'

mydict = [
    {'name':'Arjun','age':24},
    {'name':'krish','age':31}
]

list((map(get_name,mydict)))

['Name of the person is Arjun he/she is 24 old',
 'Name of the person is krish he/she is 31 old']

**Filter Function**

In [38]:
def even(n):   # basic Example to understand Filter function
  if n%2 == 0:
    return True

l = [1,2,3,4,5,6]

list(filter(even,l)) # filter will take func as argument

[2, 4, 6]

In [39]:
def prime(n):
  if n<2:
    return False
  else:
    for i in range(2,n):
      if n%i == 0:
        return False
  return True

l  = [1,2,3,4,5,6,7,8,9]

list(filter(prime,l))

[2, 3, 5, 7]

In [40]:
# Filter funtion with lambda
l  = [1,2,3,4,5,6,7,8,9]
list(filter(lambda x: x>5 and x%2 == 0,l))

[6, 8]

In [43]:
#Using Filter funtion on list of dictionaries

mylstdicts = [
    {'name':'Arjun','Age':24},
    {'name':'Krish','Age':31},
    {'name':'Aditya','Age':23},
]

list(filter(lambda x:x['Age']>25,mylstdicts))

[{'name': 'Krish', 'Age': 31}]

In [68]:
def max_consecutive_difference(lst):
    max_diff = 0
    for i in range(len(lst) - 1):
        current_diff = abs(lst[i] - lst[i+1])
        if current_diff > max_diff:
            max_diff = current_diff
    return max_diff

print(max_consecutive_difference([1,2,3,4,5]))
print(max_consecutive_difference([1,2,3,6,89]))

1
83